.card-datetime {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    width: 200px;
}

.card-datetime h4 {
    font-size: 14px;
    color: black;
    margin: 0px;
    padding: 0px;
}

.card-datetime-header {
    background-color: #FFFFC4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
}

.card-datetime-header h4 {
    font-size: 16px;
    color: black;
    margin: 0px;
    padding: 0px;
}

.card-datetime-line {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1px;
    width: 200px;
    margin-bottom: 15px;
}

.card-datetime-input {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #f1f1f1;
    width: 80%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-datetime-input input {
    background: transparent;
    display: flex;
    text-align: center;
    width: 100%;
    outline-width: 0;
    color: black;
    border: none;
    font-size: 16px;
}