.menu {
    background-color: #FFFFC4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.menu h1 {
    font-size: 25px;
    font-weight: 800;
    color: black;
    margin-bottom: 95px;
}

.menu button {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: #ff4e4e;
    color: black;
    font-weight: 800;
    font-size: 20px;
    border: none;
    outline-width: 0;
}

.menu button:hover {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
}

.menu-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-space-right {
    margin-right: 100px;
}

.menu-space-button {
    margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
    .menu-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-space-right {
        margin-bottom: 100px;
    }

    .menu-space-button {
        margin-bottom: 100px;
    }
}

.menu-conteiner { 
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 230px;
    height: 300px;
}

.menu-conteiner svg {
    font-size: 80px;
}

.menu-conteiner h4 {
    font-size: 20px;
    font-weight: 800;
    color: black;
}

.menu-space-bottom {
    margin-bottom: 100px;
}

.link {
    color: black;
    text-decoration: none;
}